<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @visitor.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @visitor.username %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @visitor.firstname %>
</p>

<%= link_to 'Edit', edit_visitor_path(@visitor) %> |
<%= link_to 'Back', visitors_path %>
